<!DOCTYPE html>
<html lang="en" data-page="Dashboard/index">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../../images/favicon.png"
      type="image/png"
    />
    <link rel="stylesheet" href="../../dist/index.css" />
    <link rel="stylesheet" href="../../css/dashboard/style.css" />
    <title>PHARMCATOR | Dashboard</title>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>
    <main>
      <h1>Hello world and welcome</h1>
    </main>
    <script src="../../dist/index.js"></script>
  </body>
</html>
