<!DOCTYPE html>
<html lang="en" data-page="form">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PHARMCATOR | Forgot Password</title>

    <!-- Style -->
    <link rel="stylesheet" href="/index.css" />
    <link rel="icon shortcut" href="/images/favicon.png" type="image/png" />
    <link rel="stylesheet" href="/css/shared.css" />
    <link rel="stylesheet" href="/css/register.css" />
  </head>
  <body>
    <%- include("_header") %>
    <div class="container-fluid">
      <div class="row gap-sm-0 gap-5">
        <div class="form-image-container col-12 p-0">
          <div class="form-image">
            <form
              data-method="POST"
              data-endpoint="api/v1/users/forgotPassword"
              class="col-sm-6 col-12 px-5 my-auto"
            >
              <label for="email" class="form-label">Enter Your Email</label>
              <input
                type="text"
                id="email"
                name="email"
                class="form-control"
                placeholder="email@gmail.com"
                required
              />
              <small id="emailHelp" class="form-text text-muted mb-3 d-block"
                >You remembered you password ?
                <a class="fw-bold register-link" href="/sign">Sign in</a></small
              >
              <button
                type="submit"
                class="btn btn-success btn-bg-color mt-3 w-100"
              >
                Send me reset email
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
