<!DOCTYPE html>
<html lang="en" data-page="main">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PHARMCATOR</title>

    <!-- Style -->
    <link rel="stylesheet" href="../dist/index.css" />
    <link rel="icon shortcut" href="../images/favicon.png" type="image/png" />
    <link rel="stylesheet" href="../css/shared.css" />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <%- include('_header') %>
    <!-- Hero Section -->
    <div class="container-fluid p-0">
      <div class="align-items-center">
        <div class="col-md-12">
          <div class="hero-image">
            <div class="hero-title text-center">
              Your <span style="color: #047857">Trusted</span> Pharmacy for All
              <br />
              Your Health needs
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container section features-container py-5">
      <div class="row g-4">
        <!-- Card 1 -->
        <div class="col-md-4">
          <div class="feature-card text-center">
            <img
              src="../svgs/list.svg"
              alt="Convenient Services"
              class="feature-icon"
            />
            <div class="feature-title">Convenient Services</div>
            <p class="feature-text">
              Experience hassle-free ordering and quick access to all your
              pharmacy needs.
            </p>
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4">
          <div class="feature-card text-center">
            <img
              src="../svgs/offers.svg"
              alt="Exclusive Discounts"
              class="feature-icon"
            />
            <div class="feature-title">Exclusive Discounts</div>
            <p class="feature-text">
              Enjoy special discounts and offers tailored just for our loyal
              customers.
            </p>
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col-md-4">
          <div class="feature-card text-center">
            <img
              src="../svgs/orders.svg"
              alt="Wide Selection"
              class="feature-icon"
            />
            <div class="feature-title">Wide Selection</div>
            <p class="feature-text">
              Browse a wide range of medicines and health products at
              competitive prices.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container about-section section">
      <div class="row about-description align-items-center">
        <div class="col-12 col-md-6">
          <p class="primary-color fs-2 mb-5">
            Our Vision: Bridging the Gap in Global Healthcare
          </p>
          <p class="fs-5">
            At Pharmcator, we believe that access to essential medicine should
            know no borders. Our vision is to connect patients with life-saving
            treatments that are unavailable locally, by sourcing and delivering
            them from trusted international suppliers. We are committed to
            making healthcare more accessible, reliable, and seamless for
            everyone, everywhere.
          </p>
        </div>
        <div class="about-logo col-12 col-md-6">
          <img src="../images/logo.jpg" alt="" />
        </div>
      </div>
    </div>

    <div class="swiper container section">
      <p class="fs-2 my-5 primary-color text-center">Our latest products</p>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="category-overlay">
            <p class="category-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
              sequi nihil neque, ullam molestias eius rerum a corporis deleniti
              architecto nulla officia reprehenderit fuga cumque, necessitatibus
              fugit laudantium temporibus natus?
            </p>
            <a class="category-link" href="#">View</a>
          </div>
          <div class="category-image">
            <img class="w-100" src="../images/men-care.webp" alt="" />
            <p class="category-title">Men Care</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="category-overlay">
            <p class="category-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
              sequi nihil neque, ullam molestias eius rerum a corporis deleniti
              architecto nulla officia reprehenderit fuga cumque, necessitatibus
              fugit laudantium temporibus natus?
            </p>
            <a class="category-link" href="#">View</a>
          </div>
          <div class="category-image">
            <img class="w-100" src="../images/men-care.webp" alt="" />
            <p class="category-title">Men Care</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="category-overlay">
            <p class="category-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
              sequi nihil neque, ullam molestias eius rerum a corporis deleniti
              architecto nulla officia reprehenderit fuga cumque, necessitatibus
              fugit laudantium temporibus natus?
            </p>
            <a class="category-link" href="#">View</a>
          </div>
          <div class="category-image">
            <img class="w-100" src="../images/men-care.webp" alt="" />
            <p class="category-title">Men Care</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="category-overlay">
            <p class="category-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
              sequi nihil neque, ullam molestias eius rerum a corporis deleniti
              architecto nulla officia reprehenderit fuga cumque, necessitatibus
              fugit laudantium temporibus natus?
            </p>
            <a class="category-link" href="#">View</a>
          </div>
          <div class="category-image">
            <img class="w-100" src="../images/men-care.webp" alt="" />
            <p class="category-title">Hello world</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="category-overlay">
            <p class="category-description">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa
              sequi nihil neque, ullam molestias eius rerum a corporis deleniti
              architecto nulla officia reprehenderit fuga cumque, necessitatibus
              fugit laudantium temporibus natus?
            </p>
            <a class="category-link" href="#">View</a>
          </div>
          <div class="category-image">
            <img class="w-100" src="../images/men-care.webp" alt="" />
            <p class="category-title">Hello world</p>
          </div>
        </div>
      </div>
    </div>

    <div id="map" class="container-fluid"></div>
    <%- include("_footer.ejs") %>
    <script src="../dist/index.js"></script>
  </body>
</html>
