<!DOCTYPE html>
<html lang="en" data-page="register">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PHARMCATOR | Register</title>

    <!-- Style -->
    <link rel="icon shortcut" href="../images/favicon.png" type="image/png" />
    <link rel="stylesheet" href="../dist/index.css" />
    <link rel="stylesheet" href="../css/shared.css" />
    <link rel="stylesheet" href="../css/register.css" />
  </head>
  <body>
    <%- include("_header") %>
    <div class="container-fluid">
      <div class="row gap-sm-0 gap-5">
        <div class="form-image-container col-12 p-0">
          <div class="form-image">
            <form action="" class="col-sm-6 col-12 px-5 my-auto">
              <label for="fullName" class="form-label">Full Name</label>
              <input
                type="text"
                id="fullName"
                class="form-control mb-3"
                placeholder="Full name"
                name="fullName"
                required
              />

              <label for="email" class="form-label">Enter Your Email</label>
              <input
                type="text"
                id="email"
                name="email"
                class="form-control"
                placeholder="email@gmail.com"
                required
              />
              <small id="emailHelp" class="form-text text-muted mb-3 d-block"
                >You have an account ?
                <a class="fw-bold register-link" href="/sign">Sign in</a></small
              >
              <label for="inputPassword" class="form-label"
                >Enter Your Password</label
              >
              <input
                type="password"
                id="inputPassword"
                name="password"
                class="form-control mb-3"
                placeholder="password"
                required
              />
              <label for="passwordConfirm" class="form-label"
                >Confirm Your Password</label
              >
              <input
                type="password"
                id="confirmPassword"
                name="passwordConfirm"
                class="form-control"
                placeholder="password"
                required
              />
              <button
                type="submit"
                class="btn btn-success btn-bg-color mt-3 w-100"
              >
                Register
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="../dist/index.js"></script>
  </body>
</html>
