<!DOCTYPE html>
<html lang="en" data-page="form">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PHARMCATOR | Reset Password</title>
    <!-- Style -->
    <link rel="stylesheet" href="/index.css" />
    <link rel="icon shortcut" href="/images/favicon.png" type="image/png" />
    <style>
      .row {
        height: 100vh;
      }
      .bg-green,
      .btn-green {
        background-color: #28a745;
        color: #fff;
      }
      .btn-green:hover {
        background-color: #218838;
        color: #fff;
      }
      .form-control:focus {
        box-shadow: 0px 0px 5px #28a745;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid m-0">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header text-center bg-green">
              <h4>Reset Password</h4>
            </div>
            <div class="card-body">
              <form
                data-method="PATCH"
                data-endpoint="api/v1/users/resetPassword/<%= token %>"
              >
                <div class="mb-3">
                  <label for="newPassword" class="form-label"
                    >New Password</label
                  >
                  <input
                    type="password"
                    id="newPassword"
                    name="password"
                    class="form-control"
                    placeholder="Enter new password"
                  />
                </div>
                <div class="mb-3">
                  <label for="confirmPassword" class="form-label"
                    >Confirm Password</label
                  >
                  <input
                    type="password"
                    id="confirmPassword"
                    name="passwordConfirm"
                    class="form-control"
                    placeholder="Confirm new password"
                  />
                </div>
                <div class="w-100">
                  <button type="submit" class="btn btn-green w-100">
                    Reset Password
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/index.js"></script>
  </body>
</html>
